# List :

list is used to store multiple items in single variable

List is used by creating : list=[a,b,c]

In [1]:
a=["Audi","buggati","Cadilac"]
print(a)

['Audi', 'buggati', 'Cadilac']

List is Ordered in structure

List is Changeable means add,remove and change

In [2]:
a[2]='Dodge'
print(a)

['Audi', 'buggati', 'Dodge']

List allows the duplicate values

In [3]:
a=["Audi","buggati","Cadilac","buggati"]
print(a)

['Audi', 'buggati', 'Cadilac', 'buggati']

### Length of list

In [4]:
print(len(a))

4

List can contain all kind of datatype

In [5]:
a=["Omkar",24.3,True]
print(a)

['Omkar', 24.3, True]

### To know the type of list

In [6]:
print(type(a))

<class 'list'>

### List can be used as the constructor

In [7]:
a=list(("Omkar","Sharad"))
print(a)

['Omkar', 'Sharad']

## Accessing the items in Lists

In [8]:
print(a[1])

Sharad

In [9]:
a=[0,1,2,3,4,5,6,7,8,9]
print(a[5])

5

## Reversing and Negative

In [10]:
print(a[-1])

9

In [11]:
print(a[-3])

7

Range Indexing were accesing data from point 1 to point 2

In [12]:
print(a[0:5])

[0, 1, 2, 3, 4]

In [13]:
print(a[-6:-1])

[4, 5, 6, 7, 8]

In [14]:
print(a[0:9:2])

[0, 2, 4, 6, 8]

In [15]:
print(a[-6:-1 :2])

[4, 6, 8]

In [16]:
a=["Omkar","Sharad","Jethe"]
if "Omkar" in a :
     print("Present in list")
else :
    print("Not present in list")

Present in list

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [18]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

### Method	Description

append()	Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list

index()	Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	Removes the element at the specified position

remove()	Removes the item with the specified value

reverse()	Reverses the order of the list

sort()	Sorts the list

### Insert Items
To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [19]:
a.insert(4,"Govind")
print(a)

['Omkar', 'Sharad', 'Jethe', 'Govind']

### Append Items :
To add an item to the end of the list, use the append() method:

In [20]:
a.append("Sharayu")
print(a)

['Omkar', 'Sharad', 'Jethe', 'Govind', 'Sharayu']

### Extend List
To append elements from another list to the current list, use the extend() method.

In [21]:
b=["Atharav","varad"]
a.extend(b)
print(a)

['Omkar', 'Sharad', 'Jethe', 'Govind', 'Sharayu', 'Atharav', 'varad']

In [22]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

### Add Any Iterable
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [23]:
b=("Vilas")
a.extend(b)
print(a)

['Omkar', 'Sharad', 'Jethe', 'Govind', 'Sharayu', 'Atharav', 'varad', 'V', 'i', 'l', 'a', 's']

### Remove Specified Item
The remove() method removes the specified item.

In [24]:
a.remove("V")
print(a)

['Omkar', 'Sharad', 'Jethe', 'Govind', 'Sharayu', 'Atharav', 'varad', 'i', 'l', 'a', 's']

In [25]:
#Remove the first occurrence of "banana":

thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

### Remove Specified Index
The pop() method removes the specified index.

In [26]:
a.pop(10)
print(a)

['Omkar', 'Sharad', 'Jethe', 'Govind', 'Sharayu', 'Atharav', 'varad', 'i', 'l', 'a']

In [27]:
a.pop()
print(a)

['Omkar', 'Sharad', 'Jethe', 'Govind', 'Sharayu', 'Atharav', 'varad', 'i', 'l']

The del keyword can also delete the list completely.

In [28]:
del a
print(a)

NameError: name 'a' is not defined

In [ ]:
a=['Omkar', 'Sharad', 'Jethe', 'Govind', 'Sharayu', 'Atharav', 'varad', 'i', 'l', 'a', 'i', 'l', 'a']
print(a)
a.clear()
print(a)

In [ ]:
a=['Omkar', 'Sharad', 'Jethe', 'Govind', 'Sharayu', 'Atharav', 'varad', 'i', 'l', 'a', 'i', 'l', 'a']
a.sort()
print(a)

In [ ]:
b = [100, 50, 65, 82, 23]
b.sort()
print(b)

In [ ]:
b.sort(reverse=True)
print(b)

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

In [ ]:
a.reverse()
print(a)

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

In [ ]:
c=b.copy()
print(c)

### Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [ ]:
print(a)

In [ ]:
print(b)

In [ ]:
c=a+b
print(c)

In [ ]:
a.append(b)
print(a)